.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  color: #9c2111;
}

.post-preview .post-read-more {
  font-weight: normal;
  color: #9c2111;
}

code {
  color: #404040;
  font-size: 85%;
}

a, p a {
  color: #9c2111;
}
a:hover, a:focus, p a:hover, p a:focus, .post-preview a:hover, .post-preview a:focus {
  color: #e79408;
}

.avatar-img-heading {
  border-radius: 50%;
  max-height: 200px;
  margin-top: 2em;
}

.avatar-img-navbar {
  border-radius: 50%;
  transition: border-radius 0.5s cubic-bezier(.45,.05,.55,.95);
  max-height: 50px;
  float: left;
}

.top-nav-short .avatar-img-navbar {
  border-radius: 0%;
}

.navbar > .container-fluid .navbar-brand {
   margin-left: 0px;
 }
