{% capture title-n %}
  {{ game.title | prepend: '. ' | prepend: n }}
{% endcapture %}

<h2 id="{{ title-n | slugify }}" class="hist-title">
  {{ title-n }}
</h2>

<div class="hist-img">
  <img src="{{ game.imgpath | prepend: '../' }}" alt="{{ game.imgalt }}">
</div>

{% if game.dev.size > 0 %}
<div class="hist-table">
  <table>
    <tr>
      <th>AKA</th>
      <th>Developer</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>{{ game.aka }}</td>
      <td>{{ game.dev }}</td>
      <td>{{ game.status }}</td>
    </tr>
  </table>
</div>
{% endif %}

<div class="hist-desc">
  {{ game.content }}
</div>

<div class="hist-goup">
  <a href="#">back to top</a>
</div>
